body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
header{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #c46d3b;
    width: 100vw;
    height: 7.5vh;
}
#title{
    align-self: center;
    max-height: 100%;
    max-width: 100%;
}
#title-text{
    max-height: 100%;
    max-width:100%;
    margin:0px;
    padding:0px;
    font-size: clamp(1.4rem,4vw,2rem);
}
#top-nav{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #4f8d28;
    width: 100vw;
    height: 10vh;
}
main{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url("background_team.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 72.5vh;
    margin:0px;
    padding:0px;
}
#headerLoginBox{
    width:100%;
    height: 100%;
    padding-top:5px;
    padding-bottom:5px;
}
#loginBox{
    background-color: #ccd69e;
    display:none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: clamp(7.5px, 2.5%, 12.5px);
    height:auto;
    width:auto;
    }
#loginBox .button {
    font-size: 12px;
    padding: calc(.475rem - 1px) calc(1.2rem - 1px);

}

#formLogin{
    display:flex;
    flex-flow: column nowrap;
    justify-content:stretch;
    align-items: stretch;
}
#formSubmit, #registerSubmit{
    align-self: center;
    margin-top:2.5%;
}
#registerBox{
    display: none;
    flex-flow: column nowrap;
    align-self: stretch;
    justify-content: stretch;
}
#registerForm{
    display: flex;
    flex-flow:column nowrap;
    align-self: stretch;
    justify-content: stretch;

}
@media screen and (min-width: 780px)
{
    footer {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%239e8700" fill-opacity="1" d="M0,192L6.2,176C12.3,160,25,128,37,117.3C49.2,107,62,117,74,128C86.2,139,98,149,111,144C123.1,139,135,117,148,101.3C160,85,172,75,185,101.3C196.9,128,209,192,222,186.7C233.8,181,246,107,258,90.7C270.8,75,283,117,295,112C307.7,107,320,53,332,42.7C344.6,32,357,64,369,90.7C381.5,117,394,139,406,154.7C418.5,171,431,181,443,160C455.4,139,468,85,480,90.7C492.3,96,505,160,517,197.3C529.2,235,542,245,554,213.3C566.2,181,578,107,591,90.7C603.1,75,615,117,628,149.3C640,181,652,203,665,208C676.9,213,689,203,702,170.7C713.8,139,726,85,738,64C750.8,43,763,53,775,74.7C787.7,96,800,128,812,144C824.6,160,837,160,849,144C861.5,128,874,96,886,80C898.5,64,911,64,923,80C935.4,96,948,128,960,154.7C972.3,181,985,203,997,181.3C1009.2,160,1022,96,1034,64C1046.2,32,1058,32,1071,48C1083.1,64,1095,96,1108,128C1120,160,1132,192,1145,176C1156.9,160,1169,96,1182,106.7C1193.8,117,1206,203,1218,218.7C1230.8,235,1243,181,1255,170.7C1267.7,160,1280,192,1292,218.7C1304.6,245,1317,267,1329,250.7C1341.5,235,1354,181,1366,149.3C1378.5,117,1391,107,1403,90.7C1415.4,75,1428,53,1434,42.7L1440,32L1440,320L1433.8,320C1427.7,320,1415,320,1403,320C1390.8,320,1378,320,1366,320C1353.8,320,1342,320,1329,320C1316.9,320,1305,320,1292,320C1280,320,1268,320,1255,320C1243.1,320,1231,320,1218,320C1206.2,320,1194,320,1182,320C1169.2,320,1157,320,1145,320C1132.3,320,1120,320,1108,320C1095.4,320,1083,320,1071,320C1058.5,320,1046,320,1034,320C1021.5,320,1009,320,997,320C984.6,320,972,320,960,320C947.7,320,935,320,923,320C910.8,320,898,320,886,320C873.8,320,862,320,849,320C836.9,320,825,320,812,320C800,320,788,320,775,320C763.1,320,751,320,738,320C726.2,320,714,320,702,320C689.2,320,677,320,665,320C652.3,320,640,320,628,320C615.4,320,603,320,591,320C578.5,320,566,320,554,320C541.5,320,529,320,517,320C504.6,320,492,320,480,320C467.7,320,455,320,443,320C430.8,320,418,320,406,320C393.8,320,382,320,369,320C356.9,320,345,320,332,320C320,320,308,320,295,320C283.1,320,271,320,258,320C246.2,320,234,320,222,320C209.2,320,197,320,185,320C172.3,320,160,320,148,320C135.4,320,123,320,111,320C98.5,320,86,320,74,320C61.5,320,49,320,37,320C24.6,320,12,320,6,320L0,320Z"></path></svg>');
        background-position: top;
        background-position-y: 7.5%;
    }
}
@media screen and (min-width: 452px) and (max-width: 779px)
{
    footer {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%239e8700" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
        background-position: bottom;
    }
}
@media screen and (max-width: 451px)
{
    footer {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%239e8700" fill-opacity="1" d="M0,32L10,64C20,96,40,160,60,181.3C80,203,100,181,120,144C140,107,160,53,180,37.3C200,21,220,43,240,85.3C260,128,280,192,300,197.3C320,203,340,149,360,154.7C380,160,400,224,420,224C440,224,460,160,480,154.7C500,149,520,203,540,197.3C560,192,580,128,600,112C620,96,640,128,660,122.7C680,117,700,75,720,80C740,85,760,139,780,154.7C800,171,820,149,840,128C860,107,880,85,900,74.7C920,64,940,64,960,90.7C980,117,1000,171,1020,181.3C1040,192,1060,160,1080,138.7C1100,117,1120,107,1140,122.7C1160,139,1180,181,1200,202.7C1220,224,1240,224,1260,202.7C1280,181,1300,139,1320,117.3C1340,96,1360,96,1380,106.7C1400,117,1420,139,1430,149.3L1440,160L1440,320L1430,320C1420,320,1400,320,1380,320C1360,320,1340,320,1320,320C1300,320,1280,320,1260,320C1240,320,1220,320,1200,320C1180,320,1160,320,1140,320C1120,320,1100,320,1080,320C1060,320,1040,320,1020,320C1000,320,980,320,960,320C940,320,920,320,900,320C880,320,860,320,840,320C820,320,800,320,780,320C760,320,740,320,720,320C700,320,680,320,660,320C640,320,620,320,600,320C580,320,560,320,540,320C520,320,500,320,480,320C460,320,440,320,420,320C400,320,380,320,360,320C340,320,320,320,300,320C280,320,260,320,240,320C220,320,200,320,180,320C160,320,140,320,120,320C100,320,80,320,60,320C40,320,20,320,10,320L0,320Z"></path></svg>');        background-position: bottom;
    }
}
footer{
    flex-flow: column nowrap;
    background-size: cover;
    background-color: red;
    height:10vh;
    width:100vw;
    color: black;
    text-align: left;

}
.button{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #ffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.login:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}